.scroll-pane .viewport,
.scroll-pane .content,
.scroll-pane,
.text-area .scroll-pane .content,
.text-area .scroll-pane .viewport,
.text-area .scroll-pane,
.mfx-scroll-pane,
.mfx-scroll-pane .viewport,
.mfx-scroll-pane .content,
.text-area {
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .increment-button,
.scroll-pane .scroll-bar:vertical .decrement-button {
    -fx-opacity: 0;
    -fx-interactable: false;
}

.scroll-bar:vertical {
    /*-fx-opacity: 0;*/
    -fx-pref-width: 8px;
    -fx-background-color: transparent;
    -fx-min-width: 8px;
    -fx-max-width: 8px;
}
.scroll-bar:vertical .thumb {
    -fx-background-color: transparent;
}
/* Style the vertical scrollbar thumb */
.scroll-bar:vertical .thumb {
    -fx-background-color: #0e5995;
}

/* Style the horizontal scrollbar thumb */
.scroll-bar:horizontal .thumb {
    -fx-background-color: #0e5995;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
}

/* Hide increment and decrement buttons on the horizontal scrollbar */
.scroll-bar:horizontal .increment-arrow,
.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-opacity: 0;
}