/* Table View General Styling */
.table-view {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-family: "Century Gothic Bold";
}

/* Column Header Styling */
.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-font-size: 19px;
    -fx-padding: 10px;
}

/* Style the header row with rounded corners */
.table-view .column-header-background {
    -fx-background-radius: 10 10 0 0;
    -fx-background-color:  transparent;
    -fx-cursor: hand;
}

/* Ensure the entire table view has rounded corners */
.table-view {
    -fx-background-radius: 10;
}

/* Center the text vertically in table rows */
.table-view .table-row-cell .table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-font-size: 19px;
}

/* Header Label Styling */
.table-view .column-header .label {
    -fx-font-family: "Century Gothic Bold";
    -fx-font-size: 21px;
    -fx-text-fill: #0f5996;
    -fx-padding: 15px;
    -fx-alignment: CENTER_LEFT;
}

/* Row Cell Styling */
.table-view .table-row-cell {
    -fx-padding: 20px 20px 10px;
    -fx-background-insets: 8px;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 15px;
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: #dddddd;
    -fx-text-fill: black;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

/* Transparent background for empty rows */
.table-view .table-row-cell:empty {
    -fx-background-color: transparent!important;
}


/* Cell Content Alignment */
.table-view .table-cell {
    -fx-alignment: CENTER_LEFT;
    -fx-padding: 10px;
    -fx-border-width: 0;
    -fx-text-fill: black;
}

/* Row Selection Styling */
.table-view .table-row-cell:hover {
    -fx-effect:
            dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0, 2, 2), /* First pass */
            dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0, -2, -2), /* Second pass */
            dropshadow(gaussian, rgba(0,0,0,0.2), 20, 0, 2, -2); /* Third pass */
}